* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body.active {
  height: 100%;
  overflow: hidden;
}

main{
  width:100%;
  height:100%;
}

:root {
  --laranja: orange;
  --branco: rgba(240, 235, 235, 0.959);
  --branco2: aliceblue;
  --prata: #999595;
  --verde_claro: greenyellow;
  --verde: rgb(0, 255, 64);
  --azul: rgb(120, 120, 241);
  --vermelho: red;
  --preto: black;
  --cinza: rgba(0, 0, 0, 0.767);
}

#nav_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90px;
  background-color: var(--laranja);
  margin-bottom: 10%;
}

#nav_bar h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

/* estilizando o botao de cadastro */

#cadastrar_client {
  background-color: var(--azul);
  margin-left: 5%;
  margin-bottom:1.5%;
  padding: 2.3vh;
  padding-bottom: 1.8vh;
  border: 1px solid var(--preto);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.6s;
}

#cadastrar_client:hover {
  transform: scale(1.1);
}



/* estilizando a tabela de clientes*/

#tab-clientes,
#cabecalho,
.linha_client {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: center;
  justify-content: center;
  min-width: auto;
  width: 90%;
  height: auto;
  justify-self: center ;
}

.linha_client {
  display: flex;
  flex-direction: row;
  margin-top: -3px;
  width: 100%;
  justify-content: left;
}

.linha_client:nth-child(1) {
  margin-top: 30px;
}

#cabecalho {
  display: flex;
  flex-direction: row;
}

.tab,
.coluna {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: auto;
  height: 30px;
  min-height: auto;
  text-align: center;
  align-items: center;
  justify-content: end;
  background-color: var(--branco);
}

.coluna {
  margin-bottom: -29px;
   min-height:1.5em;
   height: min-content;
}

.coluna h3 {
  min-width: 100%;
 min-height: 1.5em;
 height: max-content;
  background-color: var(--laranja);
  padding-top:10%;
  font-size: 2.3vw;
}

.tab p {
  margin-top: 10px;
  font-size: clamp(0.6em, 1.2vw, 1.4em);
}

/*estilizando os botões */

.tab:nth-of-type(5) {
  display: inline-block;
}

.tab:nth-of-type(5) button {
  display: inline-block;
  min-width: auto;
  width: 60px;
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--branco2);
  margin-left: 0.2em;
  cursor: pointer;
  transition: transform 0.6s;
  margin-top: 0.2em;
}

.tab:nth-of-type(5) button:hover {
  transform: scale(1.2);
}

.editar {
  background-color: var(--verde_claro);
}

.excluir {
  background-color: var(--vermelho);
}

@media (max-width: 800px) {

  #tab-clientes,
#cabecalho,
.linha_client {
  width: 100%;
}

#cadastrar_client{
  margin-left:0;
  margin-bottom:0.5%;
  padding: 1.7vh;
  padding-bottom: 1.2vh;
}

.coluna h3{
  padding-top:11% ;
}

  .tab:nth-of-type(5) {
    display: flex;
    flex-direction: column;
  }

  .tab:nth-of-type(5) button {
    font-size: 0.5em;
  }
}